
<nav>
  <div class="logo">
    <p>MetaPus</p>
  </div>
  <ul>
    <li><a href="" class="active">home</a></li>
    <% if (role === 'dokter') { %>
      <li><a href="/disease">Disease</a></li>
      <li><a href="/symptom">Symptom</a></li>
      <li><a href="symptomDisease">DISEASE AND SYMPTOM</a></li>
      <li><a href="/patient">Patient</a></li>
    <% } %>
    <% if (role === 'loket' || role === 'apotek') { %>
      <li><a href="/patient">Patient</a></li>
    <% } %>
    <% if (!isLoggednIn) { %>
      <li><a href="/auth/register">REGISTER</a></li>
      <li><a href="/auth/login">Login</a></li>
    <% } %>
    <% if (isLoggednIn === true) { %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } %>
    <li>Welcome <%= role %> </li>
  </ul>
</nav>
