<a href="/disease"><button>DISEASE</button></a>
<a href="/symptom"><button>SYMPTOM</button></a>
<a href="/patient"><button>PATIENT</button></a>
<a href="/symptomDisease"><button>DISEASE AND SYMPTOM</button></a>
<a href="/auth/register"><button>REGISTER</button></a>
<a href="/auth/login"><button>LOGIN</button></a>
<a href="/auth/logout"><button>LOGOUT</button></a>