
<nav>
  <div class="logo">
    <p>MetaPus</p>
  </div>
  <ul>
    <li><a href="" class="active">home</a></li>
    <li><a href="/disease">Disease</a></li>
    <li><a href="/symptom">Symptom</a></li>
    <li><a href="symptomDisease">DISEASE AND SYMPTOM</a></li>
    <li><a href="/patient">Patient</a></li>
    <li><a href="/auth/register">REGISTER</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li>Welcome <%= uname %> </li>
  </ul>
</nav>
