<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To The Health Tech</title>
</head>
<body>
    <%- include ('./partials/navbar') %> 
    <h1>HELLO <%= uname %> </h1>
    <p></p>
    <form action="/" method="get">
        <input type="text" name="disease" placeholder="Cari Nama Penyakit">
        <button type="submit">Cari</button>
    </form>
    <p></p>
    <form action="/" method="get">
        <input type="text" name="symptom" placeholder="Cari Nama Gejala">
        <button type="submit">Cari</button>
    </form>
    <p></p>
    <table border="1">
        <tr>
            <th>Penyakit</th>
            <th>Gejala</th>
        </tr>
        <% result.forEach(el => { %>
         <tr>
             <td><%= el.Disease.name %> </td>
             <td><%= el.Symptom.name %> </td>
         </tr>
        <% }) %>
    </table>
</body>
</html>