<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To The Health Tech</title>
</head>
<body>
    <a href="/disease"><button>DISEASE</button></a>
    <a href="/symptom"><button>SYMPTOM</button></a>
    <a href="/patient"><button>PATIENT</button></a>
    <a href="/symptomDisease"><button>DISEASE AND SYMPTOM</button></a>
    <a href="/auth/register"><button>REGISTER</button></a>
    <a href="/auth/login"><button>LOGIN</button></a>
    <a href="/auth/logout"><button>LOGOUT</button></a>

    <h1>HELLO <%= uname %> </h1>
</body>
</html>