<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Disease</title>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <p></p>
    <a href="/symptomDisease/add"><button>Add</button></a>
    <table border="1">
        <tr>
            <th>Gejala</th>
            <th>Penyakit</th>
            <th>Action</th>
        </tr>
        <% result.forEach(el => { %>
         <tr>
             <td><%= el.Symptom.name%></td>
             <td><%= el.Disease.name%></td>
             <td>
                 <a href="/symptomDisease/delete/<%= el.id %>"><button>Delete</button></a>
             </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>