<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Symptom</title>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <p></p>
    <h1>Edit Form Symptom</h1>
    <form action="/symptom/edit/<%= symptom.id %>" method="post">
        <input type="text" name="name" placeholder="name Disini" value="<%= symptom.name%>">
        <button type="submit">updated</button>
    </form>
</body>
</html>