<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom</title>
</head>
<body>
    <%- include ('./partials/navbar') %>
    <a href="/symptom/add"><button>Add</button></a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% symptoms.forEach(el => { %>
            <tr>
                <td><%= el.name %> </td>            
                <td>
                    <a href="/symptom/edit/<%= el.id %>"><button>Edit</button></a>
                    <a href="/symptom/delete/<%= el.id %>"><button>Hapus</button></a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
