<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Diseases</title>
</head>
<body>
    <h1>Add Form Disease</h1>
    <form action="/disease/add" method="post">
        <input type="text" name="name" placeholder="name Disini">
        <textarea name="description" cols="30" rows="10" placeholder="description disini"></textarea>
        <button type="submit">Add</button>
    </form>
</body>
</html>